#define MAP_DATA
"{~add-ons/Conquest-/maps/dative_center.map}"#enddef
#define MAP_NAME
"Conquest- Dative"#enddef

[multiplayer]
## ----------- input area - edit if needed -----------
	id={MAP_NAME}
	#ifndef AE_UNITS
	name=_{MAP_NAME}+_" (requires no add-on)"
#else
	name=_{MAP_NAME}+_" (requires Conquest Minus or AE)"
#endif

	description=_ "Conquest Dative! Designed for a balanced 1 vs 1 gameplay
For 1-6 players."
	map_data={MAP_DATA}
	
	#ifndef AE_UNITS
		{STORY}
	#else
		{STORY_WITH_AE}
	#endif
	
	{OBJECTIVES_NOTE_MAP_BY (Zbyll; edited by SlowThinker, version 1.4)}

	{RECRUIT_MENU_ORCS Gg^Vc}
	{RECRUIT_MENU_ELVES Gg^Ve}
	{RECRUIT_MENU_HUMANS Gg^Vh}
	{RECRUIT_MENU_MERMEN Ww^Vm,Ss^Vhs} 
## ----------- end of input area -----------

	{DEFAULT_SCHEDULE}
	{DEFAULT_MUSIC_PLAYLIST}

	{CONQUEST_BASE}
	{WORK}
	{SELECT_LENGTH}
	{REINFORCE}
	{BOAT_MENU}

## ----------- input area - edit if needed -----------
	{GAME_MODES 181} ## Conquest Minus allow any value here; other Conquest variants require number of villages here 

	## only Conquest Minus require next line(s)
	{CONQUEST_6_SIDES_DEFINITION}  
## ----------- end of input area -----------

	[event]
		name=prestart
		{VARIABLE map_data {MAP_DATA}}
	[/event]
	
	[event]
		name=prestart
		
		{VARIABLE scen_input.version 2.6}
		[set_variables]
			name=scen_input
			mode=merge  
			[value] 

## ----------- input area - edit if needed -----------
			## next data define region names, their gold bonuses, and their villages
			## just commas in village_list separate elements: don't put additional spaces
			## [region]s may be grouped into [region_list]. Coordinates of all villages within a [region_list] may be shifted by 'shift='.
			## Any [region_list] may contain not only [region]s, but also [region_list](s)
			## a list of [region] tags may be replaced by a .rgs file: this is handy especially if the .rgs file is used in multiple maps
				[region]
					name=Center
					bonus=5
					village_list=Up,26,21,Right,30,25,Bottom,26,29,Left,22,25
				[/region]
				[region]
					name=Before Twelve
					bonus=5
					village_list=11:59,25,10,11:48,22,7,11:41,21,4,11:30,18,8
				[/region]
				[region]
					name=After Twelve
					bonus=5
					village_list=12:01,27,4,12:12,30,7,12:15,32,4,12:45,35,8
				[/region]
				[region]
					name=One
					bonus=5
					village_list=1:00,41,3,1:11,42,8,1:12,47,4
				[/region]
				[region]
					name=Two
					bonus=4
					village_list=2:00,41,14,2:02,50,8,2:06,47,12
				[/region]
				[region]
					name=Before Three
					bonus=5
					village_list=2:35,48,18,2:40,45,21,2:49,50,22,2:58,43,24
				[/region]
				[region]
					name=After Three
					bonus=5
					village_list=3:01,50,26,3:12,46,28,3:20,43,30,3:31,49,31
				[/region]
				[region]
					name=Four
					bonus=4
					village_list=4:00,49,36,4:09,45,37,4:11,40,35
				[/region]
				[region]
					name=Five
					bonus=5
					village_list=5:00,48,42,5:10,41,42,5:17,45,46
				[/region]
				[region]
					name=Before Six
					bonus=5
					village_list=5:39,34,45,5:38,32,41,5:51,30,45,5:59,27,41
				[/region]
				[region]
					name=After Six
					bonus=5
					village_list=6:01,25,47,6:12,23,45,6:20,22,41,6:31,19,45
				[/region]
				[region]
					name=Seven
					bonus=5
					village_list=7:00,13,47,7:26,10,43,7:30,5,46
				[/region]
				[region]
					name=Eight
					bonus=4
					village_list=8:00,13,37,8:02,8,37,8:04,3,39
				[/region]
				[region]
					name=Before Nine
					bonus=5
					village_list=8:32,9,31,8:40,5,29,8:41,2,28,8:58,9,27
				[/region]
				[region]
					name=After Nine
					bonus=5
					village_list=9:01,3,24,9:11,9,21,9:12,5,21,9:27,2,18
				[/region]
				[region]
					name=Ten
					bonus=4
					village_list=10:00,12,15,10:02,8,13,10:04,3,11
				[/region]
				[region]
					name=Eleven
					bonus=5
					village_list=11:00,10,8,11:01,6,4,11:25,11,2
				[/region]

			## next data define a position and a shape of the table(s) with bonuses
			## which is shown (usually) under the map
				[region_table]
					upper_left=2,50	##x,y coordinates of the most upper left label of the table
					rows=4	##number of rows of the table; in place of it columns= may be used
					regions=	## if empty then all (remaining) regions will be added
					order_by_bonus=no
								## if order_by_bonus is not 'yes' then the order from 'scen_input.region_table.regions' or 'scen_input.regions' will be used
				[/region_table]

## ----------- end of input area -----------
## ---------- no more input areas ----------

			[/value]
		[/set_variables]
	[/event] #. prestart
[/multiplayer]

#undef MAP_DATA
#undef MAP_NAME