#define MAP_DATA
"{~add-ons/Conquest-/maps/surdmark.map}"#enddef
#define MAP_NAME
"Conquest- Surdmark"#enddef

#define AE_UNITS
#enddef

[multiplayer]
## ----------- input area - edit if needed -----------
	id={MAP_NAME}
	#ifndef AE_UNITS
	name=_{MAP_NAME}+_" (requires no add-on)"
#else
	name=_{MAP_NAME}+_" (requires Conquest Minus or AE)"
#endif

	description=_ "Conquest Surdmark! Defeat your opponents in this Risk-inspired game.
For 1-8 players.
This map requires Conquest Minus or Ageless Era."

	map_data={MAP_DATA}
	
	#ifndef AE_UNITS
		{STORY}
	#else
		{STORY_WITH_AE}
	#endif
	
 	{OBJECTIVES_NOTE_MAP_BY (Lich_Lord)} 

	{RECRUIT_MENU_HUMANS Gg^Vh,Gs^Vht,Rp^Vhc}
	{RECRUIT_MENU_MERMEN Ww^Vm}
	{RECRUIT_MENU_ELVES Gg^Ve}
	{RECRUIT_MENU_ORCS Gg^Vc}
	{RECRUIT_MENU_UNDEAD Ss^Vhs}
	{RECRUIT_MENU_DWARVES Mm^Vhh,Uu^Vu}
	{RECRUIT_MENU_DRAKES Rr^Vd}
	{RECRUIT_MENU_KALIFA Dd^Vdt,Dd^Vda} 	
## ----------- end of input area -----------

	{DEFAULT_SCHEDULE}
	{DEFAULT_MUSIC_PLAYLIST}

	{CONQUEST_BASE}
	{WORK}
	{SELECT_LENGTH}
	{REINFORCE}
	{BOAT_MENU}

## ----------- input area - edit if needed -----------
	{GAME_MODES 181} ## Conquest Minus allow any value here; other Conquest variants require number of villages here 

	{CONQUEST_8_SIDES_DEFINITION}
## ----------- end of input area -----------

	[event]
		name=prestart
		{VARIABLE map_data {MAP_DATA}}
	[/event]
	
	[event]
		name=prestart
		
		{VARIABLE scen_input.version 2.6}
		[set_variables]
			name=scen_input
			mode=merge  
			[value] 

## ----------- input area - edit if needed -----------
			## next data define region names, their gold bonuses, and their villages
			## just commas in village_list separate elements: don't put additional spaces
			## [region]s may be grouped into [region_list]. Coordinates of all villages within a [region_list] may be shifted by 'shift='.
			## Any [region_list] may contain not only [region]s, but also [region_list](s)
			## a list of [region] tags may be replaced by a .rgs file: this is handy especially if the .rgs file is used in multiple maps
				[region_list]
					shift=0,0 ## these numbers are added to the x,y coordinates of villages
					{~add-ons/Conquest-/maps/gagarna.rgs} ## a text from a .rgs file is inserted here
				[/region_list] 			
				[region_list]
					shift=50,0
					{~add-ons/Conquest-/maps/torath.rgs}
				[/region_list] 			
				
				## adjust bonuses of regions that were joined together and append additional villages:
				[region] 
					name=New Calron
					bonus=3
					village_list=Caithur,51,23
				[/region] 
				[region] 
					name=Yarghford Mountains
					bonus=1
				[/region] 
				[region] 
					name=Barca
					bonus=2
				[/region] 
			## next data define a position and a shape of the table(s) with bonuses
			## which is shown (usually) under the map
				[region_table]
					upper_left=3,58	##x,y coordinates of the most upper left label of the table
					rows=4	##number of rows of the table; in place of it columns= may be used
					regions=Fargundy,New Calron,Tarsia,Gagarlon,Gortyr,Vickmark,Soveran,Wrymandy,Pentaria,Siznak,Yarghford Mountains,Dalmatuska,Cottidan,Poltovio,Bostra,Carolas,Merman Clan,Miggle,Herull Swamp,Norcard Tribe,Trevero,Aurelatia,Nobade,Vindoth,Curtany,Hagaron	## if empty then all (remaining) regions will be added
					order_by_bonus=yes  
								## if order_by_bonus is not 'yes' then the order from 'scen_input.region_table.regions' or 'scen_input.regions' will be used
				[/region_table]
				[region_table]
					upper_left=53,58	
					columns=7	
					regions=	
					order_by_bonus=yes  
				[/region_table]

## ----------- end of input area -----------
## ---------- no more input areas ----------

			[/value]
		[/set_variables]
	[/event] #. prestart

[/multiplayer]

#undef MAP_DATA
#undef MAP_NAME
#undef AE_UNITS