#textdomain wesnoth-Conquest

# po: this is the first thing new players will see

#define HELPINTRO
_"How to play Conquest


Conquest has NO LEADER unit and NO KEEP.
TO RECRUIT RIGHT CLICK YOUR VILAS (make sure there’s no unit on the vila when recruiting).
Units can move 1 hex on their first turn, later they can move fully.

If you capture all vilas in a REGION you get BONUS gold.
3 modes: REALM (start with a region), CAPITOL (3 start vilas), ALL VILLAGES (scattered).
On turn 2 empty vilas are filled with AI guardians (cannot move or recruit).

To use boat transports, recruit a transport next to a vila, then make a unit on the vila.
Right-click the transport to board. You can move a transport to another vila and right-click to unload."
#enddef

#define INTRO_STORY
	[story]
		[part]
			story={HELPINTRO}
			text_layout=top
		[/part]
	[/story]
#enddef
