#textdomain wesnoth-Conquest

#define LOAD_CAPITOL_SPAWNS
	[event]
		name=start
		# Load it a bit delayed
		[event]
			name=turn 1,preload
			first_time_only=no

			[lua]
				name="capitol.lua"
				code={~add-ons/Conquest_Asterisk/lua/capitol.lua}
			[/lua]
		[/event]
	[/event]
#enddef

#define CAPITOL_NEUTRALS_ANNOUNCEMENT
	[sound]
		name=dragonstick.ogg
	[/sound]
	[print]
		text=_"         Neutral units (White)
spawn on empty Cities at Turn 2.
         They can’t attack you."
		size=32
		duration=5000
		color=200,200,200
	[/print]
#enddef
