# wmllint: no translatables

#define STARTING_GOLD
	# Each sides receives 1 more gold than the previous one.
	# First side starts with 10 gold, though it can be increased in lobby.
	# Except in realm mode, where starting gold depends on the choosen region.

	{VARIABLE allocate_gold 9}

	[store_side]
		variable=played_sides
		[has_unit][/has_unit]
	[/store_side]

	[foreach]
		array=played_sides
		[do]
			{VARIABLE_OP allocate_gold add 1}
			[gold]
				amount=$allocate_gold
				side=$this_item.side
			[/gold]
		[/do]
	[/foreach]
	{CLEAR_VARIABLE played_sides,allocate_gold}
#enddef
