# wmllint: no translatables

#define PLAYER_STANDARD_SPAWN STANDARD_SIDE STANDARD_DIVISIONS STANDARD_CITYS

	{VARIABLE division {STANDARD_CITYS}}

	# If the number of vilas is greater than 100 set to 100 only, otherwise too many vilas are allocated.
	[if]
		[variable]
			name=division
			greater_than=110
		[/variable]
		[then]
			[set_variable]
				name=division
				value=110
			[/set_variable]
		[/then]
	[/if]

	# The division automatically rounds to the lower integer.
	{VARIABLE_OP division divide {STANDARD_DIVISIONS}}

	{SCATTER_UNITS $division "Fog Clearer" 2 (
		terrain=*^V*
		owner_side=0
		x=0-999
		y=0-999
		[not]
			[filter][/filter]
		[/not]
	)(
		side={STANDARD_SIDE}
	)}

	{VARIABLE ce_standard_side {STANDARD_SIDE}}

	[lua]
		name="village spawns"
		code = <<
local lua_side = wml.variables.ce_standard_side
local lua_all_villages = wesnoth.map.find{ owner_side = lua_side, gives_income = true }

if lua_all_villages then
	for i, pairs_xy in ipairs(lua_all_villages) do
		wesnoth.units.erase(pairs_xy.x, pairs_xy.y)
		wml.variables.ce_spawn = { side = lua_side, x = pairs_xy.x, y = pairs_xy.y }
		wesnoth.game_events.fire('ce_spawn_1g_militia')
		wml.variables.ce_spawn = nil
	end
end
>>
	[/lua]

	# Updates vision of own units for side 2,3,4,5,6 before it is their turn.
	[redraw]
		clear_shroud=yes
	[/redraw]

	{CLEAR_VARIABLE ce_standard_side,division}
#enddef
