
#define RECRUIT_MENU_MERMEN VIL_FILTER
[event]
name=start
[set_menu_item]
id=recruitmermen
description=_"Recruit Unit"
[filter_location]
terrain={VIL_FILTER}
owner_side=$side_number
[not]
[filter]
canrecruit=no
x=$x1
y=$y1
[/filter]
[/not]
[/filter_location]
[command]
[store_gold]
side=$side_number
variable=gold
[/store_gold]
[message]
speaker=narrator
image="portraits/merfolk/spearman.png"
message=_ "You have $gold gold.
Select a unit to recruit:"
[option]
label=_" Cancel"
[/option]








[option]
image="units/merfolk/hunter.png~RC(magenta>red)"
label=_" Militia - 1 Gold
HP: 25
10-2 Damage
7 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=1
[/variable]
[then]
[gold]
amount=-1
side=$side_number
[/gold]
[unit]
unrenamable=yes

zoc=yes
type=Merman Hunter
name=_"Militia"
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=remove_attacks
range=ranged
[/effect]
[effect]
apply_to=attack
set_type=blade
increase_damage=6
[set_specials]
{WEAPON_SPECIAL_BERSERK}
[/set_specials]
[/effect]
[effect]
apply_to=hitpoints
increase_total=-8
increase=-8
[/effect]
[effect]
apply_to=movement
set=7
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]
{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]

[option]
image="units/merfolk/fighter.png~RC(magenta>red)"
label=_" Infantry - 3 Gold
HP: 65
12-4 Damage
7 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=3
[/variable]
[then]
[gold]
amount=-3
side=$side_number
[/gold]
[unit]
unrenamable=yes

zoc=yes
type=Merman Fighter
name=_"Infantry"
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=attack
set_type=blade
increase_attacks=1
increase_damage=6
[set_specials]
{WEAPON_SPECIAL_BERSERK}
[/set_specials]
[/effect]
[effect]
apply_to=hitpoints
increase_total=29
increase=29
[/effect]
[effect]
apply_to=movement
set=7
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
forest=40
[/defense]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]
{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]

[option]
image="units/merfolk/warrior.png~RC(magenta>red)"
label=_" Heavy Infantry - 5 Gold
HP: 90
12-6 Damage
7 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=5
[/variable]
[then]
[gold]
amount=-5
side=$side_number
[/gold]
[unit]
unrenamable=yes

zoc=yes
type=Merman Warrior
name=_"Heavy Infantry"
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=attack
set_type=blade
increase_attacks=3
increase_damage=2
[set_specials]
{WEAPON_SPECIAL_BERSERK}
[/set_specials]
[/effect]
[effect]
apply_to=hitpoints
increase_total=40
increase=40
[/effect]
[effect]
apply_to=movement
set=7
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]
{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]


[option]
image="units/monsters/cuttlefish.png~RC(magenta>red)"
label=_" Cuttle Fish - 8 Gold
HP: 130
18-6 Damage
8 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=8
[/variable]
[then]
[gold]
amount=-8
side=$side_number
[/gold]
[unit]
unrenamable=yes

zoc=yes
type=Cuttle Fish
name=_"Cuttle Fish"
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=remove_attacks
range=ranged
[/effect]
[effect]
apply_to=attack
set_type=blade
increase_attacks=-4
increase_damage=15
[set_specials]
{WEAPON_SPECIAL_BERSERK}
[/set_specials]
[/effect]
[effect]
apply_to=hitpoints
increase_total=63
increase=63
[/effect]
[effect]
apply_to=movement
set=8
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]
{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]

[option]
image="units/monsters/water-serpent.png~RC(magenta>red)"
label=_" Water Serpent - 10 Gold
HP: 150
22-6 Damage
8 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=10
[/variable]
[then]
[gold]
amount=-10
side=$side_number
[/gold]
[unit]
unrenamable=yes

zoc=yes
type=Water Serpent
name=_"Water Serpent"
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=attack
set_type=blade

increase_attacks=4
increase_damage=10
[set_specials]
{WEAPON_SPECIAL_BERSERK}
[/set_specials]
[/effect]
[effect]
apply_to=hitpoints
increase_total=100
increase=100
[/effect]
[effect]
apply_to=movement
set=8
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]
{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]

[option]
image="units/merfolk/hoplite.png~RC(magenta>red)"
label=_" Lieutenant - 15 Gold
HP: 200
36-5 Damage
8 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=15
[/variable]
[then]
[gold]
amount=-15
side=$side_number
[/gold]
[unit]
unrenamable=yes

zoc=yes
type=Merman Hoplite
name=_"Lieutenant"
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=attack
set_type=blade
increase_attacks=3
increase_damage=21
[set_specials]
{WEAPON_SPECIAL_BERSERK}
[/set_specials]
[/effect]
[effect]
apply_to=remove_ability
[abilities]
{ABILITY_STEADFAST}
[/abilities]
[/effect]
[effect]
apply_to=hitpoints
increase_total=148
increase=148
[/effect]
[effect]
apply_to=movement
set=8
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]
{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]



[option]
image="units/merfolk/siren.png~RC(magenta>red)"
label=_" Siren - 15 Gold
HP: 185
15-6 Damage (90 - 6 versus Generals, Firststrike) 
8 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=15
[/variable]
[then]
[gold]
amount=-15
side=$side_number
[/gold]
[unit]
unrenamable=yes

zoc=yes
type=Mermaid Siren
name=_"Siren"
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=remove_attacks
range=ranged
[/effect]
[effect]
apply_to=attack
set_type=blade
increase_attacks=5
increase_damage=3
remove_specials=magical
[set_specials]
mode=append
{WEAPON_SPECIAL_BERSERK}
{WEAPON_SPECIAL_FIRSTSTRIKE}
{CE_WEAPON_SPECIAL_ASSASSIN}
[/set_specials]
[/effect]
##{CE_ABILITY_ASSASSIN}
[effect]
apply_to=hitpoints
increase_total=134
increase=134
[/effect]
[effect]
apply_to=movement
set=8
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]
{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]

[option]
image="units/monsters/seaserpent.png~RC(magenta>red)"
label=_" Sea Serpent - 20 Gold
HP: 250
44-6 Damage
10 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=20
[/variable]
[then]
[gold]
amount=-20
side=$side_number
[/gold]
[unit]
unrenamable=yes

zoc=yes
type=Sea Serpent
name=_"Sea Serpent"
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=attack
set_type=blade
increase_attacks=4
increase_damage=26
[set_specials]
{WEAPON_SPECIAL_BERSERK}
[/set_specials]
[/effect]
[effect]
apply_to=hitpoints
increase_total=165
increase=165
[/effect]
[effect]
apply_to=movement
set=10
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]

{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]




[option]
image="units/merfolk/initiate.png~RC(magenta>red)"
label=_" Worker - 4 Gold
HP: 20 (+1 Gold per Turn if Worker is standing on a City)
10-1 Damage
5 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=4
[/variable]
[then]
[gold]
amount=-4
side=$side_number
[/gold]
[unit]
unrenamable=yes

zoc=yes
type=Mermaid Initiate
name=_"Worker"
role=worker
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
level=1
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=remove_attacks
range=ranged
[/effect]
[effect]
apply_to=attack
set_type=blade
increase_damage=3
[set_specials]
{WEAPON_SPECIAL_BERSERK}
[/set_specials]
[/effect]
[effect]
apply_to=hitpoints
increase_total=-7
increase=-7
[/effect]
[effect]
apply_to=movement
set=5
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]
{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]



[/message]
[redraw]
side=$side_number
[/redraw]
[/command]
[/set_menu_item]
[/event]
#enddef
