#textdomain wesnoth-Conquest

#define RECRUIT_MENU_DRAKES VIL_FILTER
[event]
name=start
[set_menu_item]
id=recruitdrakes
description=_"Recruit Unit"
[filter_location]
terrain={VIL_FILTER}
owner_side=$side_number
[not]
[filter]
canrecruit=no
x=$x1
y=$y1
[/filter]
[/not]
[/filter_location]
[command]
[store_gold]
side=$side_number
variable=gold
[/store_gold]
[message]
speaker=narrator
image="portraits/drakes/clasher.webp"
message=_ "You have $gold gold. Select a unit to recruit:"
[option]
label=_" Cancel"
[/option]


[option]
image="units/drakes/fighter.png~RC(magenta>red)"
label=_" Militia - 2 Gold
HP: 45
12-3 Damage
7 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=2
[/variable]
[then]
[gold]
amount=-2
side=$side_number
[/gold]
[unit]
unrenamable=yes

zoc=yes
type=Drake Fighter
name=_"Militia"
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=remove_attacks
range=ranged
[/effect]
[effect]
apply_to=attack
increase_damage=5
[set_specials]
mode=replace
{WEAPON_SPECIAL_BERSERK}
[/set_specials]
[/effect]
[effect]
apply_to=hitpoints
increase_total=6
increase=6
[/effect]
[effect]
apply_to=movement
set=7
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]
{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]

[option]
image="units/drakes/warrior.png~RC(magenta>red)"
label=_" Infantry - 4 Gold
HP: 80
12-5 Damage
7 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=4
[/variable]
[then]
[gold]
amount=-4
side=$side_number
[/gold]
[unit]
unrenamable=yes

zoc=yes
type=Drake Warrior
name=_"Infantry"
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=remove_attacks
range=ranged
[/effect]
[effect]
apply_to=attack
increase_attacks=2
increase_damage=1
[set_specials]
mode=replace
{WEAPON_SPECIAL_BERSERK}
[/set_specials]
[/effect]
[effect]
apply_to=hitpoints
increase_total=20
increase=20
[/effect]
[effect]
apply_to=movement
set=7
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]
{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]

[option]
image="units/drakes/sky.png~RC(magenta>red)"
label=_" Cavalry - 6 Gold
HP: 100
12-6 Damage
10 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=6
[/variable]
[then]
[gold]
amount=-6
side=$side_number
[/gold]
[unit]
unrenamable=yes

zoc=yes
type=Sky Drake
name=_"Cavalry"
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=remove_attacks
range=ranged
[/effect]
[effect]
apply_to=attack
set_type=blade
increase_attacks=3
increase_damage=6
[set_specials]
mode=replace
{WEAPON_SPECIAL_BERSERK}
[/set_specials]
[/effect]
[effect]
apply_to=hitpoints
increase_total=55
increase=55
[/effect]
[effect]
apply_to=movement
set=10
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]
{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]


[option]
image="units/drakes/hurricane.png~RC(magenta>red)"
label=_" Hurricane Cavalry - 8 Gold
HP: 130
18-6 Damage
10 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=8
[/variable]
[then]
[gold]
amount=-8
side=$side_number
[/gold]
[unit]
unrenamable=yes

zoc=yes
type=Hurricane Drake
name=_"Hurricane Cavalry"
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=remove_attacks
range=ranged
[/effect]
[effect]
apply_to=attack
set_type=blade
increase_attacks=3
increase_damage=10
[set_specials]
mode=replace
{WEAPON_SPECIAL_BERSERK}
[/set_specials]
[/effect]
[effect]
apply_to=hitpoints
increase_total=72
increase=72
[/effect]
[effect]
apply_to=movement
set=10
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]
{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]

[option]
image="units/drakes/flare.png~RC(magenta>red)"
label=_" Elite Infantry - 10 Gold
HP: 150
22-6 Damage
7 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=10
[/variable]
[then]
[gold]
amount=-10
side=$side_number
[/gold]
[unit]
unrenamable=yes

zoc=yes
type=Drake Flare
name=_"Elite Infantry"
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=remove_attacks
range=ranged
[/effect]
[effect]
apply_to=attack
set_type=blade
increase_attacks=3
increase_damage=14
[set_specials]
mode=replace
{WEAPON_SPECIAL_BERSERK}
[/set_specials]
[/effect]
[effect]
apply_to=remove_ability
[abilities]
{ABILITY_LEADERSHIP}
[/abilities]
[/effect]
[effect]
apply_to=hitpoints
increase_total=95
increase=95
[/effect]
[effect]
apply_to=movement
set=7
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]
{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]

		

[option]
image="units/drakes/flameheart.png~RC(magenta>red)"
label=_" Lieutenant - 15 Gold
HP: 200
36-5 Damage
8 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=15
[/variable]
[then]
[gold]
amount=-15
side=$side_number
[/gold]
[unit]
unrenamable=yes

zoc=yes
type=Drake Flameheart
name=_"Lieutenant"
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=remove_attacks
range=ranged
[/effect]
[effect]
apply_to=attack
increase_attacks=2
increase_damage=25
[set_specials]
mode=replace
{WEAPON_SPECIAL_BERSERK}
[/set_specials]
[/effect]
[effect]
apply_to=remove_ability
[abilities]
{ABILITY_LEADERSHIP}
[/abilities]
[/effect]
[effect]
apply_to=hitpoints
increase_total=128
increase=128
[/effect]
[effect]
apply_to=movement
set=8
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]
{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]

[option]
image="units/drakes/inferno.png~RC(magenta>red)"
label=_" Inferno Drake - 25 Gold
HP: 300
45-8 Damage
8 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=25
[/variable]
[then]
[gold]
amount=-25
side=$side_number
[/gold]
[unit]
unrenamable=yes
zoc=yes
type=Inferno Drake
name=_"Inferno Drake"
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=remove_attacks
range=ranged
[/effect]
[effect]
apply_to=attack
increase_attacks=6
increase_damage=33
[set_specials]
mode=replace
{WEAPON_SPECIAL_BERSERK}
[/set_specials]
[/effect]
{CE_ABILITY_GENERAL}
[effect]
apply_to=hitpoints
increase_total=218
increase=218
[/effect]
[effect]
apply_to=movement
set=8
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]
{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]

[option]
image="units/drakes/glider.png~RC(magenta>red)"
label=_" Worker - 4 Gold
HP: 20 (+1 Gold per Turn if Worker is standing on a City)
10-1 Damage
5 Movement"
[command]
[if]
[variable]
name=gold
greater_than_equal_to=4
[/variable]
[then]
[gold]
amount=-4
side=$side_number
[/gold]
[unit]
unrenamable=yes

zoc=yes
type=Drake Glider
name=_"Worker"
role=worker
side=$side_number
x=$x1
y=$y1
random_traits=no
upkeep=loyal
level=1
[/unit]
[object]
silent=yes
[filter]
x=$x1
y=$y1
[/filter]
[effect]
apply_to=remove_attacks
range=ranged
[/effect]
[effect]
apply_to=attack
set_type=blade

increase_attacks=-1
increase_damage=4
[set_specials]
mode=replace
{WEAPON_SPECIAL_BERSERK}
[/set_specials]
[/effect]
[effect]
apply_to=hitpoints
increase_total=-12
increase=-12
[/effect]
[effect]
apply_to=movement
set=5
[/effect]
[effect]
apply_to=resistance
replace=true
[resistance]
blade=100
[/resistance]
[/effect]
[effect]
apply_to=movement_costs
replace=yes
[movement_costs]
sand=1
frozen=1
[/movement_costs]
[/effect]
[effect]
apply_to=defense
replace=yes
[defense]
sand=60
frozen=60
[/defense]
[/effect]
[/object]
[store_unit]
[filter]
x=$x1
y=$y1
[/filter]
kill=yes
variable=tempstore
[/store_unit]
{VARIABLE tempstore.moves 1}
{VARIABLE tempstore.alignment neutral}
{VARIABLE tempstore.max_experience 1000}
[unstore_unit]
variable=tempstore
[/unstore_unit]
{CLEAR_VARIABLE tempstore}
[/then]
[else]
[message]
side_for=$side_number
message=_ "Insufficient Funds"
speaker=narrator
[/message]
[/else]
[/if]
[/command]
[/option]

[/message]
[redraw]
side=$side_number
[/redraw]
[/command]
[/set_menu_item]
[/event]
#enddef
