# This is the Game Menu to choose between Realm, capitol and all villages mode.
# It also determines player starting postions and initially owned villages.

#define GAME_MODES ALLVILLAGES CAPITOL REALM
	# Macro to be used by the [multiplayer] scenarios.
	[event]
		name=prestart
		{VARIABLE standardavailable {ALLVILLAGES}}
		{VARIABLE capitolailable {CAPITOL}}
		{VARIABLE realmavailable {REALM}}
	[/event]
#enddef

#define GAME_MENU
	# Macro to be included into the [resource].
[event]
first_time_only=yes
name="turn refresh"
[lua]
code = <<
local lua_total_villages = #wesnoth.get_villages()
wesnoth.set_variable("CE_SYSTEM.total_villages_on_map",tostring(lua_total_villages))
>>
[/lua]

[message]
message=_ "Please select GAME MODE"
side_for=$side_number
speaker=narrator
image="portraits/humans/master-at-arms.webp"

[option]

#check if this game mode is set as available in the scenario
[show_if]
[variable]
name=realmavailable
boolean_equals=yes
[/variable]
[/show_if]

image="misc/laurel.png~RC(magenta>red)"
label=_" REALM MODE
Each player can select a region to start with.
Remaining cities are guarded by AI units.
AI units will be placed on turn 2."
[command]
[set_variable]
name="realm_mode"
value=yes
[/set_variable]
[/command]
[/option]




[option]

#check if this game mode is set as available in the scenario
[show_if]
[variable]
name=capitolailable
boolean_equals=yes
[/variable]
[/show_if]

image="misc/laurel.png~RC(magenta>red)"
label=_" CAPITOL MODE
Each player starts distant to other players with 3 nearby assigned
cities. Remaining cities are guarded by AI guardian units.
AI units will be placed on turn 2."
[command]
[set_variable]
name="capitol_mode"
value=yes
[/set_variable]

{STARTING_GOLD}

{CE_LUA_CAPITOL_SPAWNS}

{CAPITOL_AI_ANNOUNCEMENT}


[/command]
[/option]

[option]

#check if this game mode is set as available in the scenario
[show_if]
[variable]
name=standardavailable
boolean_equals=yes
[/variable]
[/show_if]

image="misc/laurel.png~RC(magenta>red)"
label=_" ALL VILLAGE MODE
All villages are randomly distributed
among the players."
[command]
	{STARTING_GOLD}

	[store_side]
		variable=played
		[has_unit][/has_unit]
	[/store_side]

	[foreach]
		array=played
		[do]
			{PLAYER_STANDARD_SPAWN $this_item.side $played.length $CE_SYSTEM.total_villages_on_map}
		[/do]
	[/foreach]

	#allocate remaining vilas to last side divided by 1 allocating contingency number of vilas
	{PLAYER_STANDARD_SPAWN "$played[$($played.length-1)].side" 1 "$($played.length-1)"}
	{CLEAR_VARIABLE played}
[/command]
[/option]
[/message]

{CALCULATE_INCOME_BONUS $side_number}
[/event]
#enddef
