# wmllint: no translatables

# There exist two ways to create regions.
# Either by using the next two macros.
# Or by using the [region] tag.

#define CE_SET_REGION_BONUS ID NAME BONUS
	{VARIABLE ce_temp_length $CE_SYSTEM.regions.length}
	{VARIABLE_OP ce_temp_length add 0} ## maybe needed to make sure the first value is 0 not NIL
	{VARIABLE CE_SYSTEM.regions_{ID}_bonus {BONUS}}
	{VARIABLE CE_SYSTEM.regions_{ID}_array_num $ce_temp_length}
	{VARIABLE CE_SYSTEM.regions[$ce_temp_length].id {ID}}
	{VARIABLE CE_SYSTEM.regions[$ce_temp_length].bonus {BONUS}}
	{VARIABLE CE_SYSTEM.regions[$ce_temp_length].name {NAME}}
	{CLEAR_VARIABLE ce_temp_length}
#enddef


#define CE_SET_LABEL X Y NAME REGION

#arg COLOR
200,200,200#endarg

	##{VARIABLE CE_SYSTEM.regions_{REGION} {BONUS}}
	{VARIABLE ce_temp_length $CE_SYSTEM.regions_{REGION}.length}
	{VARIABLE_OP ce_temp_length add 0} ## maybe needed to make sure the first value is 0 not NIL
	{VARIABLE CE_SYSTEM.regions_{REGION}[$ce_temp_length].name {NAME}}
	{VARIABLE CE_SYSTEM.regions_{REGION}[$ce_temp_length].x {X}}
	{VARIABLE CE_SYSTEM.regions_{REGION}[$ce_temp_length].y {Y}}
	{VARIABLE CE_SYSTEM.regions_city_{X}_{Y}.name {NAME}}
	{VARIABLE CE_SYSTEM.regions_city_{X}_{Y}.region_id $CE_SYSTEM.regions[$CE_SYSTEM.regions_{REGION}_array_num].id}
	{VARIABLE CE_SYSTEM.regions_city_{X}_{Y}.array_num $ce_temp_length}
	{CLEAR_VARIABLE ce_temp_length}

	##i think its here by mistake{VARIABLE CE_SYSTEM.regions[$ce_temp_length].name {NAME}}
	## maybe in future remove color .. probably not gona be needed
	[if]
		[variable]
			name=CE_SYSTEM.show_village_labels_in_fog
			boolean_equals=no
		[/variable]
		[then]
			[label]
				text={NAME} + " ($CE_SYSTEM.regions[$CE_SYSTEM.regions_{REGION}_array_num].name +$CE_SYSTEM.regions_{REGION}_bonus)"
				color={COLOR}
				x,y={X},{Y}
				visible_in_fog=no
			[/label]
		[/then]
		[else]
			[label]
				text={NAME} + " ($CE_SYSTEM.regions[$CE_SYSTEM.regions_{REGION}_array_num].name +$CE_SYSTEM.regions_{REGION}_bonus)"
				color={COLOR}
				x,y={X},{Y}
				visible_in_fog=yes
			[/label]
		[/else]
	[/if]
#enddef

#define REGION_AND_CAPTURE_REGION
	[event]
		name=preload
		first_time_only=no

		# Alternatively to the two macros above the [region] tag can be used.
		[lua]
			name="region_tag.lua"
			code={~add-ons/Conquest_Asterisk/lua/region_tag.lua}
		[/lua]
		# Similar to [capture_village].
		[lua]
			name="capture_region.lua"
			code={~add-ons/Conquest_Asterisk/lua/capture_region.lua}
		[/lua]
	[/event]
#enddef
