# wmllint: no translatables

#define CE_BONUS_EVENTS
	[event]
		name=preload
		first_time_only=no

		[lua]
			name="bonus.lua"
			code={~add-ons/Conquest_Asterisk/lua/bonus.lua}
		[/lua]
	[/event]

	[event]
		name=turn refresh
		first_time_only=yes
		# This needs to happen before choosing a region in realm mode, but after spawning in capitol mode.
		priority=-1

		## THIS CAPTURE EVENT MUST BE INSIDE TURN 1 REFRESH EVENT OR IT WILL WORK ON INITIAL SPAWN OF STARTING UNITS AND SLOW DOWN PROCESS
		[event]
			# Happens in turn 1 too because capture events didn't happen yet.
			# Normally income adjusting events should be in side turn, but in turn 1 no income is given anyways.
			name=capture, turn 1 refresh
			first_time_only=no

			[lua]
				name="calculate income bonus"
				code=<<
if wml.variables.owner_side or wml.get_child(wesnoth.current.event_context, 'data').owner_side then
	-- Capture events set owner_side, Alliances Mod does provide it via event_context instead.
	calculate_region_bonus(wml.variables['unit.side'])
	calculate_region_bonus(wml.variables['owner_side'] or wml.get_child(wesnoth.current.event_context, 'data').owner_side)
else
	if wesnoth.current.turn == 1 then
		-- Initial calculation during turn 1.
		calculate_region_bonus(wesnoth.current.side)
	else
		-- Fallback code for modifications which change village ownerhsip and also use
		-- [fire_event]name=capture but do not set the newly added [fire_event][data]owner_side=
		--
		-- Because owner_side is not known, calculate for all.
		-- But not yet in turn 1 to not prematurely reveal who started with a region.
		for z,s in ipairs(wesnoth.sides) do
			calculate_region_bonus(s.side)
		end
	end
end

create_total_bonus_message()
>>
			[/lua]
		[/event]
	[/event]

	[event]
		name=prestart
		[lua]
			code="create_total_bonus_message()"
		[/lua]
	[/event]
#enddef
