# wmllint: no translatables

#
# Code to upgrade neutral units every X turns. (Only when enabled prior to starting the game)
#

#define CE_NEUTRALS_GROW
[event]
name=turn 2
first_time_only=yes
# Not when using all villages mode.
# As the neutrals placement event has priority, we can use this check.
[filter_condition]
	[have_unit]
		side=7
	[/have_unit]
[/filter_condition]

[lua]
name="announce growth"
code = <<
local _ = wesnoth.textdomain 'wesnoth-Conquest'
local neutrals_grow_option = wml.variables['CE_SYSTEM.neutrals_grow_speed'] or 0

if neutrals_grow_option > 0 then
	if neutrals_grow_option > 1 then
		local option_text = _'Option enabled: Neutrals grow stronger after every $no turns.'
		wesnoth.interface.add_chat_message('Conquest', option_text:vformat{ no = neutrals_grow_option })
	else
		wesnoth.interface.add_chat_message('Conquest', _'Option enabled: Neutrals grow stronger every turn and will be healed.')
	end
	wesnoth.game_events.fire('ce_neutrals_grow')
end
>>
[/lua]
[/event]

[event]
name=ce_neutrals_grow
first_time_only=no
[lua]
name="neutrals grow"
code = <<
if wesnoth.current.turn > 2 then
	local upgrade_happened = false
	local neutral_units = wesnoth.units.find_on_map{ side = 7 }

	for i, lua_unit in ipairs(neutral_units) do
		local lua_unit_level = lua_unit.level
		local lua_unit_race = lua_unit.race
		local lua_unit_type = lua_unit.type

		if lua_unit_level <= 10 then
			-- It would only delete the unit above max level.
			upgrade_happened = true
			wml.variables.ce_spawn = { side = 7, x = lua_unit.x, y = lua_unit.y }
			wesnoth.units.erase(lua_unit.x, lua_unit.y)

			if lua_unit_race == 'human' then
				if lua_unit_level == 1 then
					wesnoth.game_events.fire('ce_spawn_3g_Sergeant')
				elseif lua_unit_level == 3 then
					wesnoth.game_events.fire('ce_spawn_5g_Cavalry')
				elseif lua_unit_level == 5 and lua_unit_type == 'Dragoon' then
					wesnoth.game_events.fire('ce_spawn_5g_Pikeman')
				elseif lua_unit_level == 5 then
					wesnoth.game_events.fire('ce_spawn_8g_Eliteinfantry')
				elseif lua_unit_level == 8 then
					wesnoth.game_events.fire('ce_spawn_10g_Lancer')
				elseif lua_unit_level == 10 then
					wesnoth.game_events.fire('ce_spawn_15g_Lieutenant')
				end

			elseif lua_unit_race == 'dwarf' or lua_unit_race == 'gryphon' then
				if lua_unit_level == 2 then
					wesnoth.game_events.fire('ce_spawn_4g_Dwarvishstalwart')
				elseif lua_unit_level == 4 then
					wesnoth.game_events.fire('ce_spawn_6g_Gryphonmaster')
				elseif lua_unit_level == 6 then
					wesnoth.game_events.fire('ce_spawn_10g_Dwarvishsentinel')
				elseif lua_unit_level == 10 then
					wesnoth.game_events.fire('ce_spawn_15g_Dwarvishlord')
				end
			end
			wml.variables.ce_spawn = nil
		end

	end

	if upgrade_happened then
		local _ = wesnoth.textdomain 'wesnoth-Conquest'
		wesnoth.interface.add_chat_message('Conquest', _'Neutrals got stronger this turn.')
	end

end

local lua_next_grow_turn = wesnoth.current.turn + (wml.variables['CE_SYSTEM.neutrals_grow_speed'] or 1)
wml.fire('event',{ name='turn '..lua_next_grow_turn, first_time_only=true, {'fire_event',{ name='ce_neutrals_grow' }}})
>>
[/lua]
[/event]
#enddef
