# wmllint: no translatables

#define CE_NEUTRALS_GROW
[event]
name=turn 2
first_time_only=yes
# Not when using all villages mode.
# As the neutrals placement event has priority, we can use this check.
[filter_condition]
	[have_unit]
		side=7
	[/have_unit]
[/filter_condition]

[lua]
name="announce growth"
code = <<
local _ = wesnoth.textdomain "wesnoth-Conquest"
local lua_neutrals_grow_option = wesnoth.get_variable("CE_SYSTEM.neutrals_grow_speed") or 0
if lua_neutrals_grow_option > 0 then
if lua_neutrals_grow_option > 1 then
wesnoth.message("Conquest", stringx.vformat(_"Option enabled: Neutrals grow stronger after every $no turns.", {no = lua_neutrals_grow_option})
)
else
wesnoth.message("Conquest", _"Option enabled: Neutrals grow stronger every turn and will be healed.")
end
wesnoth.fire_event("ce_neutrals_grow")
end
>>
[/lua]
[/event]

[event]
name=ce_neutrals_grow
first_time_only=no
[lua]
code = <<
if wesnoth.current.turn > 2 then
local upgrade_happened = false
local lua_all_villages = wesnoth.get_villages()
if lua_all_villages then
	for i, pairs_xy in ipairs(lua_all_villages) do
		local lua_unit = wesnoth.get_unit(pairs_xy[1], pairs_xy[2])
		local lua_unit_level = 0
		local lua_unit_race = ""
		local lua_side = 0
		if lua_unit then
		lua_unit_level = lua_unit.variables.level
		lua_unit_race = lua_unit.variables.race
		lua_side = lua_unit.side
		end
		--- if end 1
		if lua_side == 7 and lua_unit_level <= 10 then
		--- it would only delete the unit above max level
		upgrade_happened=true
		wesnoth.fire("kill",{ x=tostring(pairs_xy[1]), y=tostring(pairs_xy[2]) })
		wesnoth.set_variable("ce_spawn.side",tostring(lua_side))
		wesnoth.set_variable("ce_spawn.x",tostring(pairs_xy[1]))
		wesnoth.set_variable("ce_spawn.y",tostring(pairs_xy[2]))
		if lua_unit_race == "humans" then 
			if lua_unit_level == 1 then
				wesnoth.fire_event("ce_spawn_3g_Sergeant")
			elseif lua_unit_level == 3 then
				wesnoth.fire_event("ce_spawn_5g_Cavalry")
			elseif lua_unit_level == 5 then
				wesnoth.fire_event("ce_spawn_5g_Pikeman")
			elseif lua_unit_level == 5.5 then
				wesnoth.fire_event("ce_spawn_8g_Eliteinfantry")
			elseif lua_unit_level == 8 then
				wesnoth.fire_event("ce_spawn_10g_Lancer")
			elseif lua_unit_level == 10 then
				wesnoth.fire_event("ce_spawn_15g_Lieutenant")
			end
		elseif lua_unit_race == "dwarfs" then
			if lua_unit_level == 2 then
				wesnoth.fire_event("ce_spawn_4g_Dwarvishstalwart")
			elseif lua_unit_level == 4 then
				wesnoth.fire_event("ce_spawn_6g_Gryphonmaster")
			elseif lua_unit_level == 6 then
				wesnoth.fire_event("ce_spawn_10g_Dwarvishsentinel")
			elseif lua_unit_level == 10 then
				wesnoth.fire_event("ce_spawn_15g_Dwarvishlord")
			end
		end
		wesnoth.fire("clear_variable",{ name="ce_spawn" })
		end
		---if end 1
	end
end
if upgrade_happened then
	local _ = wesnoth.textdomain "wesnoth-Conquest"
	wesnoth.message("Conquest", _"Neutrals got stronger this turn.")
end
---
end
local lua_next_grow_turn = wesnoth.current.turn + wesnoth.get_variable("CE_SYSTEM.neutrals_grow_speed")
wesnoth.fire("event",{ name="turn "..tostring(lua_next_grow_turn), first_time_only="yes", {"fire_event",{ name="ce_neutrals_grow" }}})
>>
[/lua]
[/event]
#enddef
