#textdomain wesnoth-Conquest

# Code to restore hitpoints of units.
#
# Formula:
# Per one gold one receives up to
#     unit_max_hp / (unit_level + ½ lvl)
# hitpoints.
#
# Additionally one receives ½ more for the first gold.

#define RESTORE_MENU
	[event]
		name=prestart

		[set_menu_item]
			id=aaw_restore
			# po: heal unit
			description= _ "Restore"
			[show_if]
				[have_unit]
					x,y=$x1,$y1
					side=$side_number
					formula="attacks_left > 0"
					[and]
						formula="hitpoints < max_hitpoints"
						[or]
							status=poisoned,slowed
						[/or]
					[/and]
				[/have_unit]
			[/show_if]
			[filter_location]
				gives_income=yes
			[/filter_location]
				
			[command]
				# Determine gold cost to recruit unit (usually the level).

				[if]
					# Corner case: pike lvl 6 is a 5g unit.
					[variable]
						name=unit.type
						equals=Pikeman
					[/variable]
					[then]
						[set_variable]
							name=restore
							value=5
						[/set_variable]
					[/then]
					[elseif]
						# Corner case: assassin units have level 9, but cost 15g.
						[have_unit]
							x,y=$unit.x,$unit.y
							[has_attack]
								special_id=cassassin
							[/has_attack]
						[/have_unit]
						[then]
							[set_variable]
								name=restore
								value=15
							[/set_variable]
						[/then]
					[/elseif]
					[else]
						# Normal case, gold cost = unit level. Level 0 worker units are treated as 1g unit.
						[set_variable]
							name=restore
							formula="max($unit.level,1)"
						[/set_variable]
					[/else]
				[/if]

				# Here is the formula. This place might be changed in future updates.
				#
				#
				# main part:  (price + 0.5) * missing_hp / max_hp
				#
				# round:     Rounds up or down at 0.5 thus the +0.5 from above are rounded down.
				#            It will never be at exaclty price+0.5 because the missing hp are always less than max_hp,
				#            and thus is always (missing_hp / max_hp) < 1
				#
				# max(1,…)   Price is even 1g if rounded down to 0.
				#            In combination with the above, this leads to a price of 1g in the range from 0 to 1.5.
				#
				# as_decimal makes division work as you expect it. It ensures that the number is not an integer.
				#            In current formula not needed because it is already a decimal number.
				#            I leave it here to ensure the division doesn't break when changing the formula.
				#

				[set_variable]
					name=restore_cost
					formula="max(1, round( as_decimal( ($restore +0.5) * ( $unit.max_hitpoints-$unit.hitpoints )) / $unit.max_hitpoints ))"
				[/set_variable]

				[store_gold]
					side=$side_number
					variable=gold
				[/store_gold]

				[message]
					speaker=narrator
					side_for=$side_number
					# po: waiting for healing from player 2
					wait_description=_"healing"
					message= _ "Restoration of this $unit.name ($($unit.max_hitpoints-$unit.hitpoints) HP to restore) costs: 	  $restore_cost| gold

Recruit of this unit type would cost $restore| gold.

WARNING: A restored unit's moves will be reduced to 1."

					[option]
						# label="<span size='large' color='#14BE00'>" + {BACK_STRING} + "</span>"
						label={BACK_STRING}
					[/option]

					[option]
						image="attacks/frenzy.png"
						# label="<span size='large' color='#14BE00'>" + _ "Restore $unit.name" + ": 	  $(ceil($restore_cost)) " + _ "Gold" + "</span>"
						# po: It works in English grammar, but in other languages it might be better to exclude the variable.
						label= _ "Restore $unit.name" + ": 	  $(ceil($restore_cost)) " + {GOLD_STRING}

						[command]
							[if]
								{VARIABLE_CONDITIONAL gold greater_than_equal_to $restore_cost}
								[then]

									[scroll_to]
										x,y=$x1,$y1
										check_fogged=yes
										[filter_side]
											[not]
												side=$side_number
											[/not]
										[/filter_side]
									[/scroll_to]

									# Prints "restored -3 g" in two colors. Rounds down in case formula didn't round.
									[if]
										[lua]
											name=restore
											code=<<return not wesnoth.interface.is_skipping_messages()>>
										[/lua]
										[then]
											[floating_text]
												x,y=$x1,$y1
												text="<span color='#00FF99'>" + _ "restored" + "</span><span color='#FF3F3F'> -$(ceil($restore_cost)) " + _ "g" + "</span>"
											[/floating_text]
										[/then]
									[/if]

									[sound]
										name=heal.wav
									[/sound]

									[gold]
										amount=-$restore_cost
										side=$side_number
									[/gold]

									# Unit is healed, and moves are set to 0 or 1.

									[modify_unit]
										[filter]
											x,y=$x1,$y1
										[/filter]
										moves="$(min(1,$this_unit.moves))"
										hitpoints="$this_unit.max_hitpoints"
										[status]
											slowed=no
											poisoned=no
										[/status]
									[/modify_unit]

								[/then]
								[else]
									[message]
										side_for=$side_number
										message=_ "Insufficient Funds…"
										speaker=narrator
									[/message]
								[/else]
							[/if]
						[/command]
					[/option]

				[/message]
				{CLEAR_VARIABLE gold,restore,restore_cost}
			[/command]
		[/set_menu_item]
	[/event]
#enddef
