#textdomain wesnoth-Conquest


#define RESTORE_MENU
	[event]
		name=prestart

		[set_menu_item]
			id=aaw_restore
			# po: heal unit
			description= _ "Restore"
			[show_if]
				[have_unit]
					x,y=$x1,$y1
					side=$side_number
					[not]
						race=mechanical,transport,ship
					[/not]
					[and]
						formula="hitpoints < max_hitpoints"
						[or]
							status=poisoned,slowed
						[/or]
					[/and]
				[/have_unit]
			[/show_if]
			[filter_location]
				gives_income=yes
			[/filter_location]
				
			[command]
				[set_variable]
					name=restore
					formula="max($unit.level,1)"
				[/set_variable]

				[set_variable]
					name=restore_cost
					formula="as_decimal( $restore * ( $unit.max_hitpoints-$unit.hitpoints )) / $unit.max_hitpoints"
				[/set_variable]

				[store_gold]
					side=$side_number
					variable=gold
				[/store_gold]

				[message]
					speaker=narrator
					side_for=$side_number
					# po: waiting for healing from player 2
					wait_description=_"healing"
					message= _ "<span size='large'>Restore Unit</span>

You have $gold gold.

Restoration of this $unit.name| ($($unit.max_hitpoints-$unit.hitpoints) HP to restore) costs: 	  $restore_cost| Gold

Additional information about this unit type:
	- recruit of this unit type would cost $unit.cost|g
	- restoration of all hitpoints of this unit type would cost $restore|g

WARNING:	a restored unit’s moves will be reduced to 1."

					[option]
						label="<span size='large' color='#14BE00'>" + {BACK_STRING} + "</span>"
					[/option]

					[option]
						image="attacks/frenzy.png"
						label="<span size='large' color='#14BE00'>" + _ "Restore $unit.name" + ": 	  $(ceil($restore_cost)) " + _ "Gold" + "</span>"

						[command]
							[if]
								{VARIABLE_CONDITIONAL gold greater_than_equal_to $restore_cost}
								[then]

									[scroll_to]
										x,y=$x1,$y1
										check_fogged=yes
										[filter_side]
											[not]
												side=$side_number
											[/not]
										[/filter_side]
									[/scroll_to]

									[floating_text]
										x,y=$x1,$y1
										text="<span color='#00FF99'>" + _ "restored" + "</span><span color='#FF3F3F'> -$(ceil($restore_cost)) " + _ "g" + "</span>"
									[/floating_text]

									[sound]
										name=heal.wav
									[/sound]

									[gold]
										amount=-$restore_cost
										side=$side_number
									[/gold]

									[modify_unit]
										[filter]
											x,y=$x1,$y1
										[/filter]
										moves="$(min(1,$this_unit.moves))"
										hitpoints="$this_unit.max_hitpoints"
										[status]
											slowed=no
											poisoned=no
										[/status]
									[/modify_unit]

								[/then]
								[else]
									[message]
										side_for=$side_number
										message=_ "Insufficient Funds…"
										speaker=narrator
									[/message]
								[/else]
							[/if]
						[/command]
					[/option]

				[/message]
				{CLEAR_VARIABLE gold,restore,restore_cost}
			[/command]
		[/set_menu_item]
	[/event]
#enddef
