#textdomain wesnoth-Conquest

#define TRANSPORTBOATS
type=Boat,Transport Galleon,Pirate Galleon,Galleon
#enddef

#define BOAT_MENU
	[event]
		name=prestart

		[set_menu_item]
			id=aaa_board
			# po: let a unit enter the ship
			description=_"Board"
			# Check if one unit eligible to board is adjacent.
			[show_if]
				[have_unit]
					x,y=$x1,$y1
					side=$side_number
					{TRANSPORTBOATS}

					[not]
						[filter_wml]
							[variables]
								loaded=1
							[/variables]
						[/filter_wml]
					[/not]
					[filter_adjacent]
						side=$side_number
						[not]
							race=mechanical
						[/not]

						[filter_location]
							terrain=*^V*
						[/filter_location]
						[not]
							[filter_wml]
								moves=0
							[/filter_wml]
						[/not]
					[/filter_adjacent]
				[/have_unit]
			[/show_if]

			[default_hotkey]
				key=b
			[/default_hotkey]

			[command]

				[store_unit]
					[filter]
						x,y=$x1,$y1
						side=$side_number
					[/filter]
					variable=boat
				[/store_unit]

				# Check again to store only eligible units.
				[store_unit]
					[filter]
						side=$side_number
						[not]
							race=mechanical
						[/not]
						[filter_location]
							terrain=*^V*
							[and]
								x,y=$x1,$y1
								radius=1
							[/and]
						[/filter_location]
						[not]
							[filter_wml]
								moves=0
							[/filter_wml]
						[/not]
					[/filter]
					variable=boat.variables.unit
					kill=yes
				[/store_unit]

				# It can be that there are 2 units matching the filter,
				# but only one should be removed when entering the ship.
				# Recreate all potential units other than number 0.
				{VARIABLE count "$(boat.variables.unit.length-1)" }
				[while]
					[variable]
						name=boat.variables.unit.length
						greater_than=1
					[/variable]
					[do]
						[unstore_unit]
							variable=boat.variables.unit[$count]
						[/unstore_unit]
						{CLEAR_VARIABLE boat.variables.unit[$count] }
					[/do]
				[/while]
				{CLEAR_VARIABLE count}

				{VARIABLE boat.variables.loaded 1}
				{VARIABLE boat.variables.unit.moves 0}	
				[unstore_unit]
					variable=boat
				[/unstore_unit]
				{CLEAR_VARIABLE boat}
			[/command]
		[/set_menu_item]

		[set_menu_item]
			id=aaa_disembark
			# po: let a unit leave the ship
			description=_"Disembark"
			[show_if]
				[have_unit]
					x,y=$x1,$y1
					{TRANSPORTBOATS}

					[filter_wml]
						[variables]
							loaded=1
						[/variables]
					[/filter_wml]
					side=$side_number
				[/have_unit]
				[have_location]
					terrain=*^V*
					[not]
						[filter]
						[/filter]
					[/not]
					[and]
						x,y=$x1,$y1
						radius=1
					[/and]
				[/have_location]
			[/show_if]

			[default_hotkey]
				key=v
			[/default_hotkey]

			[command]
				[store_unit]
					[filter]
						x,y=$x1,$y1
					[/filter]
					variable=boat
				[/store_unit]
				[store_locations]
					terrain=*^V*
					[not]
						[filter]
						[/filter]
					[/not]
					[and]
						x,y=$x1,$y1
						radius=1
					[/and]
					variable=unboard_spot
				[/store_locations]
				
				[unstore_unit]
					variable=boat.variables.unit
					x,y=$unboard_spot.x,$unboard_spot.y
				[/unstore_unit]
				[capture_village]
					x,y=$unboard_spot.x,$unboard_spot.y
					side=$side_number
					fire_event=yes
				[/capture_village]
				
				{CLEAR_VARIABLE boat.variables.loaded}
				{CLEAR_VARIABLE boat.variables.unit}
				[unstore_unit]
					variable=boat
				[/unstore_unit]
				{CLEAR_VARIABLE boat}
				[redraw]
					side=$side_number
				[/redraw]
			[/command]
		[/set_menu_item]
	[/event]
#enddef
